html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
}

:-webkit-full-screen .hideOnFullScreen
{
    display: none;
}

:-moz-full-screen html,
:-moz-full-screen body
{
    background: #000;
    color: #fff;
    height: 100%;
    overflow: hidden;
}

:-webkit-full-screen html,
:-webkit-full-screen body
{
    background: #000;
    color: #fff;
    height: 100%;
    overflow: hidden;
}

#gameArea
{
    margin: 0 auto;
}

#gameCanvas
{
    height: 100%;
    width: 100%;
}

.navbar li, .navbar .brand
{
    line-height: 30px;
}

.navbar .nav .dropdown-toggle .caret
{
    margin-top: 14px;
}

.tooltip
{
    line-height: 20px;
    min-width: 100px;
}

.navbar
{
    opacity: 0.6 !important;
}

:-webkit-full-screen .navbar,
:-webkit-full-screen .navbar
{
    opacity: 0 !important;
}

.navbar:hover
{
    opacity: 1 !important;
}

